<header>
  <h1>Nuwe JOBarcelona '22 Hackathon</h1>
  <h2>Desafío front-end</h2>
  <p class="uk-text-lead">
    El equipo de front de JOBX está trabajando en una librería de componentes
    para un proyecto que requiere que los usuarios puedan crear y personalizar
    listas de regalos. El reto de la hackathon es crear un componente para
    visualizar los distintos grupos de regalos en modo de scroll horizontal
    (para PC) o de lista (para la versión de móvil y tablet).
  </p>
</header>

<main>
  <section class="uk-section">
    <h3>Demostración de nuestra solución</h3>
    <jxui-gifts-group-list [groups]="giftsGroups"></jxui-gifts-group-list>
    <p>
      Puedes encontrar más información sobre la solución <a>en el README de su
      repositorio.</a>
    </p>
  </section>
</main>
